body {
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: gray;
}

#header {
  height: 200px;
  margin-top: 0;
  /*background-color: #303f9f;*/
  /*color: #FFFFFF;*/
}

#appName {
  font-family: 'Graduate', cursive;
  font-size: 5em;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0;
}

#workoutCal {
  border: 5px solid gray;
}

.headerContainer {
  display: block;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 60px;
  background-image: url('http://i.imgur.com/40BkiFs.png?3');
}

.icon.yogamat {
  background-position-x: -9px;
  background-position-y: -76px;
}

.icon.heart {
  background-position-x: 5px;
  background-position-y: -7px;
}

.icon.barbell {
  background-position-x: -109px;
  background-position-y: -76px;
  height: 60px;
}

.icon.bottle{
  background-position-x: -62px;
  background-position-y: 7px;
  height: 80px;
  width: 70px;
}

.icon.medal {
  background-position-x: -141px;
  background-position-y: -4px;
  width: 60px;
  height: 70px;
}

.fc-day-number {
  background-color: #442C3F;
  color: #FFFFFF;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc-toolbar {
  background-image: url('http://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/113/1135/1135824/cover-f.jpg');
  color: #FFFFFF;
  margin-bottom: 0;
  padding: 2em;
}

.fc-day-header {
  background-color: #303f9f;
  color: #FFFFFF;
  padding: 2em;
}

h2 {
  font-family: 'Graduate', cursive;
  font-weight: bold;
  font-size: 3em;
}

.fc-day-header:nth-last-child(1n+0) {
  padding: .4em;
}

.fc td, .fc th {
  border-style: solid;
  border-width: 2px;
  padding: 0;
  vertical-align: top;
}

.fc-event {
  padding: .5em;
  border-style: none;
  height: auto;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
  text-align: center;
  font-size: .7em;
  font-weight: bold;
  letter-spacing: .08em;
  transition: all 0.2s ease-in-out;
}

.fc-event:hover {
  transform: scale(2);
  overflow: visible;
}

.fc-day {
  background-color: #FFFFFF;
  transition: all 0.1s ease;
}

.fc-day:hover{
    cursor: pointer;
    background-color: #FFCCBC;
    /*background-color: #FFCCBC;*/
    overflow: visible;
}

.fc-slats, .fc-content-skeleton, .fc-bgevent-skeleton {
    pointer-events: none;
}

.fc-bgevent, .fc-event-container {
    pointer-events: auto;
}

footer {
  height: 70px;
}

#heart {
  color: #FF5722;
}

/* ----------MODAL---------- */

.pink {
  background: #FF003F;
  color: white;
}

.teal {
  background: #00E89D;
  color: white;
}

.purple {
  background: #55384F;
  color: white;
}

.orange {
  background: #FF8109;
  color: white;
}

.gray {
  background: #CACDAC;
  color: white;
}

.peach {
  background: #FFAB91;
  color: white;
}
