body {
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: gray;
}

#header {
  height: 25%;
  /*background-color: #303f9f;*/
  /*color: #FFFFFF;*/
}

.nav {
  background-color: lightgray;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: lightgray;
  color: #471A41;
  order: 1;
  padding: 15px;
}

.nav-item:hover {
  color: #8a69d4;
}

#appName {
  font-size: 6em;
  letter-spacing: .2em;
  color: gray;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0;
}

#workoutCal {
  border: 5px solid gray;
}

.headerContainer {
  display: block;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 60px;
  background-image: url('http://i.imgur.com/40BkiFs.png?3');
}

.icon.yogamat {
  background-position-x: -9px;
  background-position-y: -76px;
}

.icon.heart {
  background-position-x: 5px;
  background-position-y: -7px;
}

.icon.barbell {
  background-position-x: -109px;
  background-position-y: -76px;
  height: 60px;
}

.icon.bottle{
  background-position-x: -62px;
  background-position-y: 7px;
  height: 80px;
  width: 70px;
}

.icon.medal {
  background-position-x: -141px;
  background-position-y: -4px;
  width: 60px;
  height: 70px;
}

.fc-day-number {
  background-color: #8a69d4;
  color: #FFFFFF;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc-toolbar {
  height: 150px;
  text-transform: uppercase;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/ee/27/3c/ee273c760e2b2a611e6496c7ffa4428e.jpg');
  color: #FFFFFF;
  margin-bottom: 0;
  padding: 2em;
}

.fc-day-header {
  text-transform: uppercase;
  background-color: #92D4D3;
  color: #FFFFFF;
  padding: 2em;
}

h2 {
  font-weight: bold;
  font-size: 3em;
}

.fc-day-header:nth-last-child(1n+0) {
  padding: .4em;
}

.fc td, .fc th {
  border-style: solid;
  border-width: 2px;
  padding: 0;
  vertical-align: top;
}

.fc-event {
  padding: .5em;
  border-style: none;
  height: auto;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);
  text-align: center;
  font-size: .7em;
  font-weight: bold;
  letter-spacing: .08em;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

.fc-event:hover {
  z-index: 2;
  transform: scale(2);
  overflow: visible;
}

.fc-day {
  background-color: #FFFFFF;
  transition: all 0.1s ease;
}

.fc-day:hover {
    cursor: pointer;
    background-color: #E6DAE8;
    /*background-color: #FFCCBC;*/
    /*overflow: visible;*/
}

.fc-slats, .fc-content-skeleton, .fc-bgevent-skeleton {
    pointer-events: none;
}

.fc-bgevent, .fc-event-container {
    pointer-events: auto;
}

footer {
  height: 70px;
}

#heart {
  color: #FF5722;
}

/* ----------MODAL---------- */

.blue {
  background: #4D528C;
  color: white;
}

.teal {
  background: #61CEBB;
  color: white;
}

.green {
  background: #578E71;
  color: white;
}

.purple {
  background: #471A41;
  color: white;
}

.lime {
  background: #ADB02B;
  color: white;
}

.peach {
  background: #E6DAE8;
  color: gray;
}

.row1Container, .row2Container, .row3Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.form-group {
  display: inline-block;
}

.signUpForm {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 2%;
}

.formBtn {
  background-color: #E6DAE8;
}

.formBtn:hover {
  background-color: #8a69d4;
  color: white;
}
